[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "vim-wombat256mod"]
	path = vim-wombat256mod
	url = git@github.com:michalbachowski/vim-wombat256mod.git
[submodule "Wombat"]
	path = Wombat
	url = git@github.com:vim-scripts/Wombat.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vimproc.vim"]
	path = vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "unite.vim"]
	path = unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "phpcomplete-extended"]
	path = phpcomplete-extended
	url = https://github.com/m2mdas/phpcomplete-extended.git
[submodule "php.vim"]
	path = php.vim
	url = git@github.com:StanAngeloff/php.vim.git
[submodule "jshint2.vim"]
	path = jshint2.vim
	url = git@github.com:Shutnik/jshint2.vim.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "phpcomplete-extended-symfony"]
	path = phpcomplete-extended-symfony
	url = git@github.com:m2mdas/phpcomplete-extended-symfony.git
